* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Poppins, sans-serif;
}

ul {
    list-style: none;
    font-style: italic;
}

a {
    text-decoration: none;
    font-weight: 700;
}

body {
    background-image: url(./pexels-alex-andrews-816608.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    /*border-bottom: 2px solid #fff;*/
    /*box-shadow: 1px 1px 10px 1px #fff;*/
    border-bottom: 12px ridge #fff;
    margin-bottom: 45px;
}

header ul {
    display: flex;
}

header ul li {
    padding: 5px;
    /*border-right: 2px dashed #fff;*/
}

header ul li a {
    transition: 800ms;
}

header ul li a:hover {
    color: rgb(168, 113, 156);
    text-decoration: underline;
}
.container {
    text-align: center;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 25px;
}

#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5. start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }

}

#animation {
    transition: 300ms;
}
.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    color: #464646;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button{
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right, #c8a2c8 50%, #993399  50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-top: 20px;
    margin-left: -5px
}

.form button:hover {
    background-position: left bottom;
    color: #fff;
}

/* REsponsive */
@media only screen and (max-width: 768px){
    .form {
        width: 100%
    }
}

@media only screen and (max-width: 480px) {
    body {
        height: 100vh;
    }
}

@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 15px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }

}